html{
	font-family: 'Inter', sans-serif;
}
body{
  margin: 0px;
}


/* ADD CODE GRADIENTS */

/*.glass{
	position: absolute;
    top: 0;
    left: 0;
}*/


/* MENU BAR */
.menu{
  position: fixed;
  top: 0px;
  width: 100vw;
  margin-top: 14px;
}
.menu_item{
  margin: 0;
  display: inline-block;
  width: 24%;
  text-align: center;
}
/* PAGE 1 */
.page1{
  background-image: url('graphics/mainpagebg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-position: center;
}
.captionp1{
  position: absolute;
  left: 0;
  top: 39%;
  width: 100%;
  text-align: center;
}
.cutai{
  font-size: 64px;
}

/* PAGE 2 */
.page2{
  background-image: url('graphics/p2bg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.captionp2{
  color:#F0F0F0;
  margin: 0;
  display: inline-block;
  top: 0px;
  margin-top: 250px;
  margin-left: 80px;
  width: 35%;
  text-align: left;
}

/* PAGE 3 */
.page3{
  background-image: url('graphics/p3bg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.captionp3{
  color:#F0F0F0;
  margin: 0;
  display: inline-block;
  margin-top: 250px;
  margin-left: 80px;
  width: 35%;
  text-align: left;
}

/* PAGE 4 */
.page4{
  background-image: url('graphics/darkbg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.captionp4{
  color:#F0F0F0;
  margin: 0;
  display: inline-block;
  top: 0px;
  margin-top: 250px;
  margin-left: 80px;
  width: 35%;
  text-align: left;
}

/* PAGE 5 */
.page5{
  background-image: url('graphics/darkbg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.captionp5{
  color:#F0F0F0;
  display: inline-block;
  margin-top: 100px;
  margin-left: 80px;
  width: 35%;
  text-align: left;
}

.price_item{
  color:#F0F0F0;
  margin: 0;
  display: inline-block;
  top: 0px;
  margin-top: 250px;
  margin-left: 15px;
  width: 25%;
  text-align: left;
}

